* {
  font-family: "Noto Serif", "FontAwesome", "Phosphor";
  font-weight: normal;
  font-size: 20;
  padding: 0 5px;
  min-height: 0px;
  min-width: 8px;
}

@define-color text-wt #d8dee8;

#custom-launcher {
  font-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  color: @text-wt;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.9);
  color: @text-wt;
  transition-property: background-color;
  transition-duration: 0.5s;

  border: 1px;
  border-color: black;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button {
  color: #545d70;
  background-color: transparent;
  margin: 0px 0px;
  padding: 0px 2px;
  font-weight: bold;
}
#workspaces button:hover {
  color: @text-wt;
}
#workspaces button.active {
  color: @text-wt;
  background-color: transparent;
}
#workspaces button.urgent {
  color: #f7768e;
  background-color: transparent;
}

#cpu {
  padding: 0 5px;
  margin: 0 2px;
  color: lightpink;
  font-weight: bold;
  background-color: transparent;
}
#memory {
  color: aquamarine;
  font-weight: bold;
  background-color: transparent;
}
#language {
  font-weight: bold;
  background-color: transparent;
}
#temperature {
  color: lightskyblue;
  font-weight: bold;
  background-color: transparent;
}

#battery,
#window,
#custom-media,
#custom-cmus,
#custom-weather,
#pulseaudio,
#clock {
  padding: 0 5px;
  margin: 0 2px;
  color: @text-wt;
  background-color: transparent;
}

#power-profiles-daemon {
  color: @text-wt;
  background-color: transparent;
}
#power-profiles-daemon.performance {
  color: #f53c3c;
  background-color: transparent;
}
#power-profiles-daemon.balanced {
  color: @text-wt;
  background-color: transparent;
}
#power-profiles-daemon.power-saver {
  color: #2ecc71;
  background-color: transparent;
}

#custom-menu {
  color: #0db9d7;
  padding: 0px 10px;
  margin: 0px 10px;
  background-color: transparent;
}

#custom-sep {
  color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

#window {
  /* color: #0db9d7; */
  color: @text-wt;
  font-weight: bold;
  background-color: transparent;
}

#tray {
  background-color: rgba(43, 48, 59, 0.9);
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#network {
  color: #2ecc71;
  background-color: transparent;
}

#network.disconnected {
  color: #f53c3c;
  background-color: transparent;
}

#battery.charging,
#battery.plugged {
  color: @text-wt;
  background-color: transparent;
}

@keyframes blink {
  to {
    color: @text-wt;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: transparent;
}
