* {
	font-family: "JetBrains Mono", "FontAwesome";
	font-weight: normal;
	font-size: 16px;

	border: 1px;
	border-color: black;
	border-radius: 5px;
	box-shadow: none;
	text-shadow: none;

	padding: 0 5px;
	min-height: 0px;
	min-width: 8px;
}


 window#waybar {
	background-color: rgba(43, 48, 59, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
	color: #545d70;
	background-color: transparent;
	margin: 0px 0px;
	padding: 0px 2px;
	font-weight: bold;
}
#workspaces button:hover {
	color: #d8dee8;
}
#workspaces button.active {
	color: #d8dee8;
}
#workspaces button.urgent {
	color: #f7768e;
}


#cpu{
	padding: 0 5px;
	margin: 0 2px;
	background-color: rgba(43, 48, 59, 0.9);
	color:goldenrod;
	font-weight: bold;
}
#memory{
	background-color: rgba(43, 48, 59, 0.9);
	color:aquamarine;
	font-weight: bold;
}
#language{
	font-weight: bold;
}
#temperature {
	color:#0db9d7;
	font-weight: bold;
}

#battery,
#window,
#custom-media,
#custom-cmus,
#custom-weather,
#pulseaudio,
#clock {
	padding: 0 5px;
	margin: 0 2px; 
	color: #d8dee8;
	background-color: rgba(43, 48, 59, 0.9);
}

#power-profiles-daemon{
	color: #d8dee8;
}
#power-profiles-daemon.performance {
	color:#f53c3c;
}
#power-profiles-daemon.balanced {
	color: #d8dee8;
}
#power-profiles-daemon.power-saver {
	color: #2ecc71;
}

#custom-menu {
	background-color: rgba(43, 48, 59, 0.9);
	color: #0db9d7;
	padding: 0px 10px;
	margin: 0px 10px;
}

#custom-sep {
	color: rgba(0, 0, 0, 0.0);
}

#window {
	background-color: #262a32;
	/* color: #0db9d7; */
    color: #d8dee8;
	font-weight: bold;
}

#tray{
	background-color: rgba(43, 48, 59, 0.9);
}
#tray > .passive{
	-gtk-icon-effect:dim;
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#network {
	color: #2ecc71;
}

#network.disconnected {
	color: #f53c3c;
}
#backlight. {
	color:#0db9d7;
}
#battery.charging, #battery.plugged{
	color: #2ecc71;
}

@keyframes blink{
	to {
		color: white;
	}
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}